.message-status { 
    &__icon-read {
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 22px;
        left: -25px;
    }
    
    &__icon-unread {
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: 22px;
        left: -25px;
    }
}


