@import '../../styles/variables';

.message{
    $self: &;

    &__content {
        display: flex;
        flex-direction: row;
        max-width: 440px;
        margin-bottom: 20px;
        position: relative;
    }    

    &__avatar {
        display: flex;
        // flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            // margin-bottom: 23px;
            align-self: flex-end;
        }
    }

    &__bubble {
        background: $blue;
        box-shadow: 0px 5px rgba(54,116,255,0.2);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__date {
        font-size: 12px;
        opacity: 0.5;
    }

    &__text {
        color: #fff;
        line-height: 20px;
    }

    &__attachments {
        display: flex;
        margin-bottom: 5px;
        &-item {
            margin-right: 5px;
            cursor: pointer;
            img {
                width: 45px;
                height: 45px;
                border-radius: 8px;
            }
        }
    }

    // &__icon-read {
    //     width: 15px;
    //     height: 15px;
    //     position: absolute;
    //     bottom: 22px;
    //     left: -25px;
    // }

    // &__icon-unread {
    //     width: 10px;
    //     height: 10px;
    //     position: absolute;
    //     bottom: 22px;
    //     left: -25px;
    // }



    
    &--isme {
        display: flex;
        justify-content: flex-end;  

        #{$self}__content {
            margin-bottom: 15px;
            display: flex;
            flex-direction: row-reverse;
      
        }

        #{$self}__avatar {
            img {
                margin-right: 0;
                margin-left: 13px; 
            }                
        }

        #{$self}__info {
            display: flex;
            flex-direction: column-reverse;
            // justify-content: flex-end;
            align-items: flex-end;
            // text-align: right;
        }

        #{$self}__bubble {
            background: #fff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0,0,0, 0.2);
            border-radius: 12px 12px 0px 12px;
            order: 2;
            #{$self}__text {
                color: $black;
            }
        }
    }
    
    &__typing {
        .dot{
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: #c1c1c1;
            display: block;
            float: left;
            margin: 0 0 0 8px;
            &:first-child{
                margin: 0;
            }
            &.one{
                animation: cycleOne 1s ease-in-out infinite;
                animation-direction: normal;
            }
            &.two{
                animation: cycleTwo 1s ease-in-out infinite;
                animation-direction: normal;
            }
            &.three{
                animation: cycleThree 1s ease-in-out infinite;
                animation-direction: normal;
            }
        }
    }
          
    @keyframes cycleOne{
            0%{
              background: rgba(150, 150, 150, 0.4);
            }
            33.333%{
              background: rgba(150, 150, 150, 1);
            }
            66.6667%{
              background: rgba(150, 150, 150, 0.4);
            }
            100%{
              background: rgba(150, 150, 150, 0.4);
            }
    }
          
    @keyframes cycleTwo{
            0%{
              background: rgba(150, 150, 150, 0.4);
            }
            33.333%{
              background: rgba(150, 150, 150, 0.4);
            }
            66.6667%{
              background: rgba(150, 150, 150, 1);
            }
            100%{
              background: rgba(150, 150, 150, 0.4);
            }
    }
          
    @keyframes cycleThree{
            0%{
              background: rgba(150, 150, 150, 0.4);
            }
            33.333%{
              background: rgba(150, 150, 150, 0.4);
            }
            66.6667%{
              background: rgba(150, 150, 150, 0.4);
            }
            100%{
              background: rgba(150, 150, 150, 1);
            }
    }

}